body {
  font-family: "Montserrat", sans-serif;
  margin: 50px;
}

.profile {
  height: 200px;
  width: 200px;
  margin-left: 70px;
}
.v1 {
  border-left: 6px solid white;
  height: 500px;
}
.title {
  font-family: "Bebas Neue", cursive;
  padding-top: 30px;
}

.top {
  background-color: #59405c;
  border-bottom: 0;
  color: #fff;
}

.middle-section{
  text-align: center;
  padding: auto;
  margin-bottom: 50px;
}

.bottom-section{
  background-color: #87556f;
  color: #fff;
  padding-bottom: 20px;
 
}
.footer-section{
  text-align: center;
  margin: 50px;
}
.copyright-section
{
  background-color: #59405c;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-bottom: 0px;
  border-bottom-left-radius: 5px ;
  border-bottom-right-radius: 5px ;
}
.ls {
  color: #59405c;
}
